<html>
    <head></head>
    <body>
        <form method="post" action="apis/campaign">
            <label>name</label>
            <input name="name"></input>
            <label>goal</label>
            <input name="goal""></input>
            <label>type</label>
            <input name="type"></input>
            <label>headline</label>
            <input name="headline"></input>
            <label>statement</label>
            <input name="statement"></input>

            <input class="button" type="submit" value="Create Campaign!">
        </form>
    </body>
</html>
