<html>
    <head></head>
    <body>
      <form method="post" action="apis/users">
        <label>email</label>
        <input name="email"></input>
        <label>Password</label>
        <input name="password" type="password"></input>
        <label>fullname</label>
        <input name="fullname"></input>
        <label>phone</label>
        <input name="phone"></input>

        <input class="button" type="submit" value="Register">
      </form>
    </body>
  </html>
